doctype html
html
  head
    title Pure Arts Photography
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Raleway")
    link(rel="stylesheet" href="style/main.css")
      
  body.responsive(ng-app="app" ng-controller="navCtrl")
    div.content-view(ng-view)
      
    footer
      .container
        .row
          .col-8.offset-2.col-sm-2.push-sm-10.offset-sm-0
            img.img-responsive.img-center(src="img/pap-logo-brown.png" alt="Pure Arts Photography") 
          .col-sm-4.pull-sm-2.text-center.text-sm-left
            nav
              ul
                li(ng-repeat="page in siteNav")
                  a(href="{{ page.link }}") {{ page.page }}
          .col-sm-4.pull-sm-2.text-center
            p &copy; Pure Arts Photography, 2017
            .footer-social-media
              ul.block-grid-3.text-center
                li: a(target="_blank" href="https://www.facebook.com/Pure-Arts-Photography-1033720276758371/"): i.icon.icon-facebook
                li: a(target="_blank" href="https://www.twitter.com/living4infinity"): i.icon.icon-twitter
                li: a(target="_blank" href="https://www.instagram.com/pure_arts_/"): i.icon.icon-instagram
              
    script(src="script/angular.min.js")
    script(src="script/angular-route.min.js")
    script(src="script/app.js")
    
