// Colors
$darkpurple: rgb(61, 17, 34)
$lightpurple: rgb(221, 204, 187)
$purple: rgb(102, 68, 85)
$lightbrown: rgb(187, 153, 102)
$brown: rgb(119, 85, 68)
$brown-trans: rgba(119, 85, 68, 0.5)
$black: rgb(51, 51, 51)
$white: rgb(242, 242, 242)

// Social Colors
$phone: #2ECC71
$facebook: #3b5998
$instagram: #bc2a8d
$twitter: #00aced

// Shapes
$border-radius: 0.9375em
$padding-height: 5.5em
